
.c-333 {
  color: #333;
}

.c-666 {
  color: #666;
}
.c-ccc {
  color: #ccc;
}
.c-red {
  color: #f56c6c;
}

//  字体大小。 如： f12、f26
$fontSizeList: 12 14 16 18 20 22 24 26 28;

@each $var in $fontSizeList {
  .f#{$var} {
    font-size: #{$var}px;
  }
}

// 字重。如: fw600
$fontWeightList: 400 500 600 700;

@each $var in $fontWeightList {
  .fw#{$var} {
    font-weight: #{$var};
  }
}

// margin。如: mt20（margin-top:20px;）、ml15(margin-left:15)
$dirList: "l" "r" "t" "b";
$dirMap: (
  "l": "left",
  "r": "right",
  "t": "top",
  "b": "bottom"
);

$dirSizeList: 5 10 15 20 25 35;

@each $dir in $dirList {
  @each $size in $dirSizeList {
    .m#{$dir}#{$size} {
      margin-#{map-get($dirMap, $dir)}: #{$size}px;
    }
  }
}
@each $dir in $dirList {
  @each $size in $dirSizeList {
    .p#{$dir}#{$size} {
      padding-#{map-get($dirMap, $dir)}: #{$size}px;
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
  }
}

.nowrap {
  white-space: nowrap;
}
